body fieldset {
    color: white;
    border-color: gold;
    border-style: solid 20%;
    background-size: 30%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-style: solid;
    padding: 10px;
}

body {
    background-color: indigo;
    background-size: 30%;
}

h1 {
    color: goldenrod;
    text-align: center;
    font-family: cursive;
    border: 100%;
    border-radius: 40px;
    border-color: gold;
    background-color: darkmagenta;
    border-style: dotted;
}

#d{
    border-radius: 50px;
}

body {
    background-image: url(../imagem/goku.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top right;
}

button {
    background-color: darkmagenta;
    color: white;
    border-radius: 10px;
    width: 100px;
    height: 40px;
}